# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/server-side/node_modules
/server-side/.env
/server-side/generated/prisma
/server-side/dist

/client-side/node_modules
/client-side/.next
/client-side/.env

